{% extends 'base.html.twig' %}

{% block title %}Offer{% endblock %}

{% block layout %}
    {% block body %}
        <h1>Offer</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ offer.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ offer.titre }}</td>
                </tr>
                <tr>
                    <th>Intro</th>
                    <td>{{ offer.intro }}</td>
                </tr>
                <tr>
                    <th>Offre</th>
                    <td>{{ offer.offre }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ offer.prix }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('offer_index') }}">Retour à la liste</a>

        <a href="{{ path('subscribe_to_offer', {'id': offer.id}) }}">Souscrire</a>

    {% endblock %}
{% endblock %}
